.photo-grid {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 3.75%;
  margin-right: 3.75%;
  margin-top: 7.19%;
}

@media screen and (max-width: 1124px) {
  .photo-grid {
    margin-left: 4.69%;
    margin-right: 4.69%;
    margin-top: 8.98%;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    margin-top: 11.46%;
    margin-left: 3.13%;
    margin-right: 3.13%;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }
}