.places {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 11.56%;
  margin-right: 11.56%;
  margin-top: 7.19%;
}

@media screen and (max-width: 1124px) {
  .places {
    margin-left: 4.69%;
    margin-right: 4.69%;
    margin-top: 8.98%;
  }
}

@media screen and (max-width: 984px) {  
  .places {
    margin-left: 3.13%;
    margin-right: 3.13%;
    margin-top: 11.46%;
  }
}

@media screen and (max-width: 568px) {
  .places {
    margin-left: 0;
    margin-right: 0;
  }
}