.places__title {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  margin-bottom: .81%;
}

@media screen and (max-width: 1124px) {  
  .places__title {
    margin-bottom: 1.72%;
  }
}

@media screen and (max-width: 984px) {  
  .places__title {
    margin-bottom: 5.1%;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 568px) {
  .places__title {
    font-size: 32px;
    line-height: 32px;
    margin-left: 5%;
    margin-bottom: 0;
  }
}