.lead {
  width: 76.88%;
  margin-top: 4.38%;
  margin-left: 11.56%;
  margin-right: 11.56%;
}

@media screen and (max-width: 1124px) {
  .lead {
    width: 90.63%;
    margin-top: 6.25%;
    margin-left: 4.69%;
    margin-right: 4.69%;
  }
}  

@media screen and (max-width: 984px) {
  .lead {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    margin-top: 15%;
  }
}