.lead__subtitle {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  margin-left: 17.48%;
  margin-right: 17.48%;
  margin-top: 3.25%;
  margin-bottom: 6.5%;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-left: 15.52%;
    margin-right: 15.52%;
    margin-bottom: 6.03%;
  }
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    margin-right: 8.33%;
    margin-left: 8.33%;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-right: 4.38%;
    margin-left: 5.63%;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5%;
    margin-bottom: 12.5%;
  }
}