.places__place {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 40px;
  margin-bottom: 8.13%;
}

@media screen and (max-width: 1124px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 32px;
    margin-bottom: 6.52%;
  }

  .places__place:nth-child(3) {
    margin-bottom: 8.4%;
  }

  .places__place:nth-child(4) {
    margin-bottom: 8.4%;
  }
}

@media screen and (max-width: 968px) {  
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-bottom: 6.54%;
    gap: 28px;
  }

  .places__place:first-child {
    margin-top: 11.46%;
  }

  .places__place:nth-child(2) {
    margin-bottom: 3.47%;
  }

  .places__place:nth-child(3) {
    margin-bottom: 6.47%;
  }

  .places__place:nth-child(4) {
    margin-bottom: 3.47%;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 568px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-top: 15.63%;
    row-gap: 32px;
  }

  .places__place:first-child {
    margin-top: 20%;
  }
}